%p
  %b Rez ID:
  = reservation.rezid
%p
  %b Status:
  = reservation.status
  = " / #{reservation.sub_status}" if reservation.active?
%p
  %b Trip direction:
  = reservation.trip_direction
%p
  %b Airport:
  = reservation.airport_name
%p
  %b Company:
  = reservation.company_name
%p
  %b Pickup Date / Time:
  = reservation.pickup_datetime
%p
  %b Arrival / Departure Time:
  = reservation.flight_datetime
%p
  %b Name:
  = reservation.passenger_name
%p
  %b Email:
  = reservation.email
%p
  %b Phone:
  = reservation.phone

%p
  %b Adults:
  = reservation.adults
%p
  %b Children:
  = reservation.children
%p
  %b # of passengers:
  = reservation.num_of_passengers

%p
  %b Net fare:
  = reservation.net_fare
%p
  %b Gratuity Collected:
  = reservation.gratuity
%p
  %b address:
  = reservation.address
%p
  %b Cross street:
  = reservation.cross_street
%p
  %b Airline:
  = reservation.airline
%p
  %b Domestic/International:
  = reservation.flight_type
%p
  %b Luggage:
  = reservation.luggage
%p
  %b Cancelation reason:
  = reservation.cancelation_reason
%p
  %b Flight number:
  = reservation.flight_number

%p
  %b Created At/Updated At
  = reservation.created_at
  /
  = reservation.updated_at
%p
  %b Additional Notes:
  = reservation.additional_notes
%p
  %b Notes:
  = reservation.notes
