%h1.page-header
  Listing reservations (#{reservations.total_entries})

= render partial: 'search_form'

%table.std
  %thead
    %tr
      %th Rez ID
      %th Status
      %th Trip direction
      %th Company
      %th Airport (a-arrival d-departure)
      %th Pickup Date / Time
      %th Arrival / Departure Time
      %th Name
      %th Phone
      %th # of Passengers
      %th Net fare
      %th Gratuity Collected
      %th address
      %th Cross street
      %th Airline
      %th Flight number
      %th Actions

  %tbody
    - reservations.each do |reservation|
      %tr
        %td= reservation.rezid
        %td
          = reservation.status
          = " / #{reservation.sub_status}" if reservation.active?
        %td= reservation.trip_direction
        %td= reservation.company_name
        %td= reservation.airport_name
        %td= reservation.pickup_datetime
        %td= reservation.flight_datetime
        %td= reservation.passenger_name
        %td= reservation.phone
        %td= reservation.num_of_passengers
        %td= reservation.net_fare
        %td= reservation.gratuity
        %td= reservation.address
        %td= reservation.cross_street
        %td= reservation.airline
        %td= reservation.flight_number
        %td
          = link_to 'Show', [:admin, reservation]
          - if reservation.active?
            = link_to 'Edit', edit_admin_reservation_path(reservation)
          - if current_admin?
            = link_to 'Destroy', [:admin, reservation], :method => :delete, :data => { :confirm => 'Are you sure?' }
            = link_to 'Resend confirmation email', admin_reservation_resend_confirmation_email_path(reservation), :data => { :confirm => 'Are you sure?' }
  %tfoot
    %tr
      %td Total:
      %td Active:
      %td $#{@q.result.active.sum(:net_fare)}
      %td Canceled:
      %td $#{@q.result.canceled.sum(:net_fare)}
      %td Amount due:
      %td $#{@q.result.where(sub_status: Reservation::SUB_STATUSES).map(&:amount_due)}.sum

= will_paginate reservations
