%p
  %b Airport:
  = @reservation.airport_name
%p
  %b Company:
  = @reservation.company.name
%p
  %b Arrival / Departure Time:
  = @reservation.flight_datetime
%p
  %b Pickup Date / Time:
  = @reservation.pickup_datetime
%p
  %b Name:
  = @reservation.passenger_name
%p
  %b Phone:
  = @reservation.phone
%p
  %b # of passengers:
  = @reservation.num_of_passengers
%p
  %b Net fare:
  = @reservation.net_fare
%p
  %b Gratuity Collected:
  = @reservation.gratuity
%p
  %b Addresss:
  = @reservation.addresss
%p
  %b Cross street:
  = @reservation.cross_street
%p
  %b Airline:
  = @reservation.airline
%p
  %b Luggage:
  = @reservation.luggage
%p
  %b Cancelation reason:
  = @reservation.cancelation_reason
%p
  %b Flight number:
  = @reservation.flight_number
%p
  %b Status:
  = @reservation.status

= link_to 'Back', admin_reservations_path
