%h1.page-header
  Listing companies (#{@companies.total_entries})
  = link_to_new 'New Company', new_admin_company_path

%table.std
  %thead
    %tr
      %th Name
      %th Contact first name
      %th Contact last name
      %th Email
      %th Actions

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.contact_first_name
        %td= company.contact_last_name
        %td= company.user.email
        %td
          = link_to 'Show', [:admin, company]
          = link_to 'Edit', edit_admin_company_path(company)
          = link_to 'Destroy', [:admin, company], :method => :delete, :data => { :confirm => 'Are you sure?' }

= will_paginate @companies
