%p
  %b Name:
  = @company.name
%p
  %b Commission:
  #{@company.commission}%
%p
  %b Active:
  = @company.active
%p
  %b Active to airport:
  = @company.active_to_airport
%p
  %b Active from airport:
  = @company.active_from_airport
%p
  %b Contact first name:
  = @company.contact_first_name
%p
  %b Contact last name:
  = @company.contact_last_name
%p
  %b Email:
  = @company.user.email
%p
  %b Street:
  = @company.street
%p
  %b City:
  = @company.city
%p
  %b State:
  = @company.state
%p
  %b Zipcode:
  = @company.zipcode
%p
  %b Phone:
  = @company.phone
%p
  %b Fax:
  = @company.fax
%p
  %b Mobile:
  = @company.mobile
%p
  %b Dispatch phone:
  = @company.dispatch_phone
%p
  %b Website:
  = @company.website
%p
  %b Description:
  = @company.description
%p
  %b Reservation notification - fax:
  = @company.notification_fax
%p
  %b Reservation notification - email:
  = @company.notification_email
%p
  %b Blackout dates:
  = @company.blackout_dates
%p
  %b Airports:
  = @company.airports
%p
  %b Hours of operation:
  = @company.hours_of_operation
  (parsed start time: #{@company.hoo_start.try(:strftime, "%I:%M%p")},
  parsed end time: #{@company.hoo_end.try(:strftime, "%I:%M%p")})
%p
  %b Hours in advance to accept rez:
  = @company.hours_in_advance_to_accept_rez
%p
  %b Pickup info:
  = @company.pickup_info
%p
  %b No pickup message:
  = @company.no_pickup_message
%p
  %b After hours info:
  = @company.after_hours_info
%p
  %b Excess luggage charge:
  = @company.excess_luggage_charge
%p
  %b Luggage insured:
  = @company.luggage_insured
%p
  %b Child rate:
  = @company.child_rate
%p
  %b Child car seats included:
  = @company.child_car_seats_included
%p
  %b Luggage limitation policy:
  = @company.luggage_limitation_policy
%p
  %b Company reservation policy:
  = @company.company_reservation_policy
%p
  %b Company cancellation policy:
  = @company.company_cancellation_policy
%p
  %b Child safety policy:
  = @company.child_safety_policy
%p
  %b Pet car seat policy:
  = @company.pet_car_seat_policy
%p
  %b Vehicle types:
  %table.std
    %thead
      %tr
        %th
        %th How Many in Fleet
        %th Total Passenger Capacity
    %tbody
      - @company.vehicle_types.each do |vehicle_type|
        %tr
          %td= vehicle_type.name
          %td= vehicle_type.how_many
          %td= vehicle_type.num_of_passengers

%p
  %b Other vehicle types:
  = @company.other_vehicle_types

- if @company.image.present?
  %p
    %b Image:
    = image_tag @company.image_url

= link_to 'Edit', edit_admin_company_path(@company)
\|
= link_to 'Back', admin_companies_path
