- rate ||= @rate

= simple_form_for([:admin, rate]) do |f|
  = f.error_notification

  = f.association :airport
  = f.association :company if current_admin?
  = f.input :vehicle_type_passenger, label: 'Vehicle Type / Passenger'
  = f.input :vehicle_capacity_type, collection: vehicle_capacity_types_list(@rate.company)
  = f.input :service_type, label: 'Private or Shared'
  = f.input :base_rate
  = f.input :additional_passenger
  = f.input :zipcode
  = f.input :hotel_by_zipcode, as: :select, label: 'Hotel by zipcode'
  = f.input :hotel_landmark_name, label: 'Hotel / Landmark name'
  = f.input :hotel_landmark_street, label: 'Hotel / Landmark street'
  = f.input :hotel_landmark_city, label: 'Hotel / Landmark city'
  = f.input :hotel_landmark_state, label: 'Hotel / Landmark state'
  = f.input :lat_lng, label: 'Latitude, Longitude'
  = f.input :trip_duration
  = f.input :to_airport_pickup_time_list, as: :text, label: 'To airport pickup times', hint: 'pipe sparated values'
  = f.input :from_airport_pickup_time_list, as: :text, label: 'From airport pickup times', hint: 'pipe sparated values'

  = f.actions do |f|
    = f.submit 'Save'
    = f.action 'Back', admin_rates_path
