%h1.page-header
  Listing rates (#{rates.total_entries})
  = primary_btn_to 'New Rate', new_admin_rate_path


= render partial: 'search_form'

- if !current_admin? || @q.company_id_eq.present?
  = link_to 'Download CSV', admin_rates_url(format: :csv, q: params[:q])
  |

= link_to 'Import CSV', admin_import_rates_url


%table.std
  %thead
    %tr
      - if current_admin?
        %th Company
      %th Airport
      %th Vehicle Type / Passenger
      %th Private or Shared
      %th Base rate
      %th Additional passenger
      %th Zipcode
      %th hotel by zipcode
      %th Hotel / Landmark name, street, city, state
      %th Lat,Lng
      %th Trip duration
      %th Pickup times
      %th Actions

  %tbody
    - rates.each do |rate|
      %tr
        - if current_admin?
          %td= rate.company.name
        %td= rate.airport_name
        %td= rate.vehicle_type_passenger
        %td= rate.service_type
        %td= rate.base_rate
        %td= rate.additional_passenger
        %td= rate.zipcode
        %td= rate.hotel_by_zipcode
        %td= rate.hotel_landmark
        %td= rate.lat_lng
        %td= rate.trip_duration
        %td
          = truncate rate.to_airport_pickup_time_list, length: 16
          - if rate.from_airport_pickup_times.present?
            %hr
            = truncate rate.from_airport_pickup_time_list, length: 16
        %td
          = link_to 'Show', [:admin, rate]
          = link_to 'Edit', edit_admin_rate_path(rate)
          = link_to 'Destroy', [:admin, rate], :method => :delete, :data => { :confirm => 'Are you sure?' }

= will_paginate rates
