- if current_admin?
  %p
    %b Company:
    = @rate.company.name
%p
  %b Airport:
  = @rate.airport_name
%p
  %b Vehicle Type / Passenger:
  = @rate.vehicle_type_passenger
%p
  %b Vehicle Capacity Type:
  = vehicle_capacity_type_humanize(@rate.vehicle_capacity_type)
%p
  %b Private or Shared:
  = @rate.service_type
%p
  %b Base rate:
  = @rate.base_rate
%p
  %b Additional passenger:
  = @rate.additional_passenger
%p
  %b Zipcode:
  = @rate.zipcode
%p
  %b Hotel by zipcode:
  = @rate.hotel_by_zipcode

%p
  %b Hotel / Landmark name:
  = @rate.hotel_landmark_name
%p
  %b Hotel / Landmark street:
  = @rate.hotel_landmark_street
%p
  %b Hotel / Landmark city:
  = @rate.hotel_landmark_city
%p
  %b Hotel / Landmark state:
  = @rate.hotel_landmark_state
%p
  %b Latitude, Longitude:
  = @rate.lat_lng
%p
  %b Trip duration:
  = @rate.trip_duration

%p
  %b To airport pickup times:
  = @rate.to_airport_pickup_time_list

%p
  %b From airport pickup times:
  = @rate.from_airport_pickup_time_list

= link_to 'Edit', edit_admin_rate_path(@rate)
\|
= link_to 'Back', admin_rates_path
