%h2
  RESERVATION REMINDER - #{@reservation.rezid}

%h3
  Reservation Agent - Shuttlefare.com (Pre-paid credit card)

= render partial: 'shared/mail/name'

%p
  Reservation ID: #{@reservation.rezid}

= render partial: 'shared/mail/reservation', locals: { reservation: @reservation }
= render partial: 'shared/mail/passengers'
