= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification

<%- attributes.each do |attribute| -%>
  = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
<%- end -%>

  = f.actions do |f|
    = f.submit 'Save'
    = f.action 'Back', <%= plural_table_name %>_path
