%h2
  - if reservation.from_airport?
    ARRIVAL
  - else
    DEPARTURE

%h3
  Pickup location

%p
  - if reservation.from_airport?
    = reservation.airport.name
  - else
    = reservation.full_address_location

- if reservation.to_airport?
  %p
    Cross street/Comments: #{reservation.cross_street}

%h3
  Dropoff location

%p
  - if reservation.to_airport?
    = reservation.airport.name
  - else
    = reservation.full_address_location

- if reservation.from_airport?
  %p
    Cross street/Comments: #{reservation.cross_street}

%p
  Pick up time: #{I18n.l reservation.model.pickup_datetime, format: :long}
%p
  Airline: #{reservation.airline}
%p
  Flight #: #{reservation.flight_number}
%p
  Flight time: #{I18n.l reservation.model.flight_datetime, format: :long}

%p
  Domestic/International: #{reservation.flight_type}

%p
  Vehicle Type: #{reservation.rate.vehicle_type_passenger}
%p
  Service Type: #{reservation.trip_direction}
