%h3
  - if reservation.from_airport?
    ARRIVAL
  - else
    DEPARTURE

%h2
  Pickup location

%p
  - if reservation.from_airport?
    = @reservation.airport.name
  - else
    = @reservation.full_address_location

%h2
  Dropoff location


%p
  - if reservation.to_airport?
    = @reservation.airport.name
  - else
    = @reservation.full_address_location


%p
  Pick up time #{I18n.l @reservation.pickup_datetime, format: :long}
%p
  Airline #{@reservation.airline}
%p
  Flight # #{@reservation.flight_number}
%p
  Flight time #{I18n.l @reservation.flight_datetime, format: :long}

%p
  Domestic/International: #{@reservation.flight_type}

%p
  Vehicle Type: #{@reservation.rate.vehicle_type_passenger}
%p
  Service Type: #{@reservation.trip_direction}
