%h2
  RESERVATION CANCELATION - #{@reservation.rezid}

%h3
  Reservation Agent - Shuttlefare.com (Pre-paid credit card)

%p
  Cancelation reason: #{@reservation.cancelation_reason}
%p
  Passenger's Name: #{@reservation.passenger_name}
%p
  Passenger Phone: #{@reservation.phone}
%p
  Passenger Email: #{@reservation.email}
%p
  Reservation ID: #{@reservation.rezid}

= render partial: 'reservation', locals: {reservation: @reservation}

%h3
  Passengers:

%p
  Adults: #{@reservation.adults}

%p
  Children: #{@reservation.children}
%p  
  Passengers in total: #{@reservation.num_of_passengers}

%p
  Luggage: #{@reservation.luggage}
