%h2
  RESERVATION CONFIRMATION

%h3
  Reservation Agent - Shuttlefare.com (Pre-paid credit card)

= render partial: 'shared/mail/name'

%p
  Reservation ID: #{[@reservation.rezid, @reservation.sibling.try(:rezid)].compact.join(', ')}

= render partial: 'shared/mail/reservation', locals: { reservation: @reservation }

- if @reservation.sibling.present?

  = render partial: 'shared/mail/reservation', locals: { reservation: @reservation.sibling.decorate }

= render partial: 'shared/mail/passengers'

%h3
  $#{@reservation.total_net_fare} Total gross amount charged to customer.
%p
  *If there is a pricing discrepancy , please contact our office before the reservation service date.
