%h2
  RESERVATION CONFIRMATION

%h3
  Reservation Agent - Shuttlefare.com (Pre-paid credit card)

%p
  Passenger's Name: #{@reservation.passenger_name}
%p
  Passenger Phone: #{@reservation.phone}
%p
  Passenger Email: #{@reservation.email}
%p
  Reservation ID: #{@reservation.rezid}

= render partial: 'reservation', locals: {reservation: @reservation}

- if @reservation.sibling.present?

  = render partial: 'reservation', locals: {reservation: @reservation.sibling.decorate}

%h3
  Passengers:

%p
  Adults: #{@reservation.adults}

%p
  Children: #{@reservation.children}
%p  
  Passengers in total: #{@reservation.num_of_passengers}

%p
  Luggage: #{@reservation.luggage}

%h3
  Total Billable: $#{@reservation.total_net_fare}

%p
  Billable amount is the net amount minus percentage discount.
  Additional charges must be authorized by Shuttlefare.com office.
