- import ||= @import

= simple_form_for [:admin, import] do |f|
  = f.error_notification

  = f.input :import_file, as: :file
  = f.input :company_id, collection: Company.asc_by_name if current_admin?

  = f.actions do |f|
    = f.submit 'Import'
    = f.action 'Back', admin_rates_path
