%h1.page-header Rates import

= simple_form_for [:admin, @import] do |f|
  = f.error_notification

  = f.input :import_file, as: :file

  = f.actions do |f|
    = f.submit 'Import'
    = f.action 'Back', admin_rates_path
