= simple_form_for([:admin, @user]) do |f|
  = f.error_notification

  = f.input :email
  = f.input :roles, collection: User::ROLES, input_html: { :multiple => true, :size => 4, style: 'height: auto;' }
  = f.input :password, type: :password
  = f.input :password_confirmation, type: :password

  = f.actions do |f|
    = f.submit 'Save'
    = f.action 'Back', admin_users_path
