= simple_form_for([:admin, @user]) do |f|
  = f.error_notification

  = f.input :email
  = f.input :password, type: :password
  = f.input :password_confirmation, type: :password

  = f.actions do |f|
    = f.submit 'Save'
    = f.action 'Back', admin_users_path
