%h1.page-header
  Listing users (#{@users.total_entries})
  = primary_btn_to 'New User', new_admin_user_path


%table.std
  %thead
    %tr
      %th= 'Email (login)'
      %th= 'Roles'
      %th= 'Actions'
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.roles.join(', ')
        %td
          = link_to 'Show', [:admin, user]
          = link_to 'Edit', edit_admin_user_path(user)
          = link_to 'Destroy', [:admin, user], :method => :delete, :data => { :confirm => 'Are you sure?' }


= will_paginate @users
